body {
    background: linear-gradient(180deg, #ffcce6, #fce8f3);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#terminal {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    min-height: 200px; /* Assure que le cadre est visible même vide */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    z-index: 10;
}

#output { 
    white-space: pre-wrap; 
    font-size: 1.2rem; 
    color: #881337; /* Couleur bien visible */
    margin: 0;
}

.final-love {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #ff0055;
    margin-top: 20px;
}